# Node
node_modules/
.next/
out/
build/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Database
*.sqlite3
*.db

# Local Storage
backend/local_storage/*
!backend/local_storage/.gitkeep

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
